// Display
// ---------------------------
@include utility('display', flex, 'flex');
@include utility('display', inline-block, 'inline-block');


// Position
// ---------------------------
@include utility('position', relative, 'relative');

// Margins
// ---------------------------
@at-root {
  $directions: ('top', 'right', 'bottom', 'left');
  $util-margin-sizes: ('2x-small', 'small', 'large', 'x-large', '2x-large', 'x-huge');

  // No directions
  @include utility('margin', spacing());
  @include utility('margin', 0, 'none');

  @each $util-margin-size in $util-margin-sizes {
    @include utility('margin', spacing($util-margin-size), $util-margin-size);
  }

  @each $direction in $directions {
    // Default
    @include utility('margin-#{$direction}', spacing());
    
    // With specific size
    @each $util-margin-size in $util-margin-sizes {
      @include utility('margin-#{$direction}', spacing($util-margin-size), $util-margin-size);
    }
  }
}

// Paddings
// ---------------------------
@at-root {
  $directions: ('top', 'right', 'bottom', 'left');
  $util-padding-sizes: ('small', 'default', 'large', 'x-large', '2x-large', 'x-huge');

  // No directions
  @include utility('padding', spacing());
  @include utility('padding', 0, 'none');

  @each $util-padding-size in $util-padding-sizes {
    @include utility('padding', spacing($util-padding-size), $util-padding-size);
  }

  @each $direction in $directions {
    // Default
    @include utility('padding-#{$direction}', spacing());
    
    // With specific size
    @each $util-padding-size in $util-padding-sizes {
      @include utility('padding-#{$direction}', spacing($util-padding-size), $util-padding-size);
    }
  }
}

// Text aligns
// ---------------------------
@include utility('text-align', left, left);
@include utility('text-align', center, center);
@include utility('text-align', right, right);

// Text transforms
// ---------------------------
@include utility('text-transform', uppercase, uppercase);

// Font sizes
// ---------------------------
@at-root {
  $util-font-sizes: ('small', 'large', 'x-large', '4x-large', 'huge');
  @each $util-font-size in $util-font-sizes {
    @include utility('font-size', font-size($util-font-size), $util-font-size);
  }
}

// Font weights
// ---------------------------
@at-root {
  $util-font-weights: ('normal', 'semi-bold', 'bold');
  @each $util-font-weight in $util-font-weights {
    @include utility('font-weight', font-weight($util-font-weight), $util-font-weight);
  }
}

// Text colors
// ---------------------------
@at-root {
  $util-text-colors: ('black', 'white', 'white-light', 'grey', 'grey-x-dark', 'blue', 'light-blue', 'blue-dark');
  @each $util-text-color in $util-text-colors {
    @include utility('color', color($util-text-color), $util-text-color);
  }
}

// Background colors
// ---------------------------
@at-root {
  $util-background-colors: ('white', 'light-blue', 'blue-x-dark', 'grey-dark');
  @each $util-background-color in $util-background-colors {
    @include utility('background-color', color($util-background-color), $util-background-color);
  }
}