// CSS Reset from https://necolas.github.io/normalize.css/
// ------------------------------
@import '~/node_modules/normalize.css';

// Box-sizing reset
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// Body
body {
  background-color: color('white');

  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: font-size('small');
  color: color('grey-x-dark');
}

* {
  @include state(('focus')) {
    outline-color: color('light-blue');
  }
}

img {
  max-width: 100%;
  height: auto;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: {
    top: 0;
    bottom: spacing('small');
  };

  line-height: 1;
  font-weight: normal;
  color: color('blue-dark');

  @include state(('last-child')) {
    margin-bottom: 0;
  }
}

// Paragraphs
p {
  margin-top: 0;

  @include state(('last-child')) {
    margin-bottom: 0;
  }
}

// Lists
ul,
ol {
  margin: 0;
  padding-left: 0;

  list-style: none;
}

// Buttons
button {
  border: none;

  cursor: pointer;
}

// Links
a {
  text-decoration: none;
}

// Address
address {
  font-style: normal;
}

// Media
// video {
//   width: 100%;
//   height: auto;
// }