// Z-Indexes
// ------------------------------
@function z-index($z-index: 'default') {
  @return map-get($z-indexes, $z-index);
}

// Spacing Units
// ------------------------------
@function spacing($spacing: 'default') {
  @return map-get($spacings, $spacing);
}

// Gutter Units
// ------------------------------
@function gutter($gutter: 'default') {
  @return map-get($gutters, $gutter);
}

// Wrapper
// ------------------------------
@function wrapper($wrapper-width: 'default') {
  @return map-get($wrapper-widths, $wrapper-width);
}

// Colors
// ------------------------------
@function color($color: 'black') {
  @return map-get($colors, $color);
}

// Font sizes
// ------------------------------
@function font-size($font-size: 'default') {
  @return map-get($font-sizes, $font-size);
}

// Font weights
// ------------------------------
@function font-weight($font-weight: 'default') {
  @return map-get($font-weights, $font-weight);
}

// Transitions
// ------------------------------
@function transition($transition: 'standard') {
  @return map-get($transitions, $transition);
}

// Utilities
// ------------------------------
@function to-str($value) {
  @return $value + '';
}


// Check if state is a pseudo-class
// @link: https://goo.gl/BYKIHd
// --------------------------------
@function is-pseudo-class($state) {
  $pseudo-classes: (
    'active',
    'any',
    'any-link',
    'checked',
    'default',
    'dir',
    'disabled',
    'empty',
    'enabled',
    'first',
    'first-child',
    'first-of-type',
    'fullscreen',
    'focus',
    'focus-within',
    'hover',
    'indeterminate',
    'in-range',
    'invalid',
    'lang',
    'last-child',
    'last-of-type',
    'left',
    'link',
    'not',
    'nth-child',
    'nth-last-child',
    'nth-last-of-type',
    'nth-of-type',
    'only-child',
    'only-of-type',
    'optional',
    'out-of-range',
    'placeholder-shown',
    'read-only',
    'read-write',
    'required',
    'right',
    'root',
    'scope',
    'target',
    'valid',
    'visited'
  );

  // If this is a state with options, strip these before checking
  @if str-index($state, '(') {
    $state: str-slice($state, 0, str-index($state, '(') - 1);
  }

  @return index($pseudo-classes, $state);
}