// Creates class and placeholder selectors.
// --------------------------------
@mixin extendable($classname) {
  
  .#{$classname},
  %#{$classname} {
    @content;
  }
}

// Creates utility selectos.
// --------------------------------
@mixin utility($property, $value, $modifier: false) {
  $modifier: if($modifier, '--#{$modifier}', '');

  .u-#{$property}#{$modifier} {
    #{$property}: $value !important;
  }
}

// Add responsive classes
// --------------------------------
@mixin responsive-classes($up-down: false) {

  @each $breakpoint-name, $breakpoint in $breakpoints {
    @include breakpoint($breakpoint-name, "only") {

      &\@#{$breakpoint-name} {
        @content;
      }
    }

    @if $up-down {
      @include breakpoint($breakpoint-name, "up") {

        &\@#{$breakpoint-name}-up {
          @content;
        }
      }

      @include breakpoint($breakpoint-name, "down") {

        &\@#{$breakpoint-name}-down {
          @content;
        }
      }
    }
  }
}

// Mixin for generating media queries from $breakpoints map
// --------------------------------
@mixin breakpoint($breakpoint, $direction: 'only') {
  $breakpoint-value: undefined;
  $media-query: undefined;

  @if str-index(to-str($breakpoint), 'px') {
    $breakpoint-value: $breakpoint;
    $breakpoint: false;
  }
  @else {
    $breakpoint-value: map-get($breakpoints, $breakpoint);
  }

  @if $breakpoint == 'retina' {
    $media-query: '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)';
  }
  @else if $direction == 'only' and $breakpoint {
    $breakpoint-keys: map-keys($breakpoints);
    $min-width-index: index($breakpoint-keys, $breakpoint) - 1;

    $min-width: if(
      $min-width-index > 0,
      map-get($breakpoints, nth($breakpoint-keys, $min-width-index)) + 1,
      0px
    );

    $media-query: '(min-width: #{$min-width}) and (max-width: #{$breakpoint-value})';
  }
  @else if $direction == 'down' {
    $media-query: '(max-width: #{$breakpoint-value})';
  }
  @else if $direction == 'up' {
    $media-query: '(min-width: #{$breakpoint-value + 1})';
  }
  @else {
    @error 'Invalid arguments for breakpoint mixin';
  }

  @media screen and #{$media-query} {
    @content;
  }
}

// Easy way to define states.
// --------------------------------
@mixin state($states, $parent-sels: undefined) {
  
  // Define final-selector
  $final-sel: '';

  // Loop over each parent-selector
  @for $i1 from 1 through length($parent-sels) {
    $parent-sel: nth($parent-sels, $i1);

    // Loop over each state
    @for $i2 from 1 through length($states) {
      $state: nth($states, $i2);
      // Check if state is a pseudo class or not and add ':' or '.' accordingly
      $state: if(is-pseudo-class($state), ':' + $state, '.' + $state);

      // Loop over each selector
      @for $i3 from 1 through length(&) {
        $state-sel: '';
        $sel: to-str(nth(&, $i3));

        // If there are no parent-selectors specified,
        // state should be applied to selector directly
        @if $parent-sel == undefined {

          // If selector contains a pseudo-element,
          // state should be inserted before pseudo-element
          @if str-index($sel, '::') {
            $state-sel: str-insert($sel, $state, str-index($sel, '::'));
          } @else {
            $state-sel: $sel + $state;
          }
        }

        // If parent-selector is in selector as stand alone,
        // state should be inserted after parent-selector
        @else if str-index($sel, $parent-sel + ' ') {
          $state-sel: str-insert(
            $sel, $state,
            str-index($sel, $parent-sel + ' ') + str-length($parent-sel)
          );
        } @else if str-index($sel, $parent-sel + '.') {
          $state-sel: str-insert(
            $sel, $state,
            str-index($sel, $parent-sel + '.') + str-length($parent-sel)
          );
        }

        // If parent-selector is not in selector,
        // parent-selector plus state should be prepended to selector
        @else {
          $state-sel: $parent-sel + $state + ' ' + $sel;
        }

        // Add state selector to the end of final-selector
        $final-sel: $final-sel + $state-sel;

        // If selector is not the last selector in &,
        // add a comma to the end of final-selector
        @if $i3 < length(&) {
          $final-sel: $final-sel + ', ';
        }
      }

      // If state is not the last state in states,
      // add a comma to the end of final-selector
      @if $i2 < length($states) {
        $final-sel: $final-sel + ', ';
      }
    }

    // If parent-selector is not the last parent-selector in parent-selectors,
    // add a comma to the end of final-selector
    @if $i1 < length($parent-sels) {
      $final-sel: $final-sel + ', ';
    }
  }

  // Output final-selector with content at root
  @at-root #{$final-sel} {
    @content;
  }
}

// Absolute child
// --------------------------------
@mixin absolute-child($offset: 0) {
  position: absolute;
  top: $offset;
  right: $offset;
  bottom: $offset;
  left: $offset
}