.layout {
  display: table;
  list-style: none;
  width: 100%;

  margin: 0;

  // Modifiers
  // @each $gutter-name, $gutter in $gutters {
  //
  //   &--#{$gutter-name} {
  //
  //     > .layout__item {
  //       margin-bottom: $gutter; // Prepare for stack
  //       padding-left: $gutter;
  //
  //       @include state("first-child") {
  //         padding-left: 0;
  //       }
  //
  //       @include state("last-child") {
  //         margin-bottom: 0;
  //       }
  //     }
  //   }
  // }

  &--center > .layout__item {
    vertical-align: middle;
  }

  &--bottom > .layout__item {
    vertical-align: bottom;
  }

  &--equal {
    table-layout: fixed;
  }

  &--stack {

    @include responsive-classes {
      display: block;

      > .layout__item {
        display: list-item;
        width: auto;

        padding-left: 0;
      }
    }
  }
}

  .layout__item {
    position: relative;
    display: table-cell;
    vertical-align: top;


    // Modifiers
    &--fixed {
      width: 1px;
      white-space: nowrap;
    }
  }