@include extendable('list') {
  list-style: none;

  margin: 0;

  // Modifiers
  &--inline {
    display: block;
    list-style: none;

    margin-bottom: -#{spacing('small')};
    padding: 0;

    font-size: 0;

    > .list__item {
      display: inline-block;
      vertical-align: top;

      margin-right: spacing();
      margin-bottom: spacing();

      font-size: font-size();

      @include state(('last-child')) {
        margin-bottom: spacing();
        margin-right: 0;
      }
    }
  }

  &--center > .list__item {
    vertical-align: middle;
  }

  &--x-small {
    margin-bottom: -(spacing('x-small'));
    
    > .list__item {
      margin-right: spacing('x-small');
      margin-bottom: spacing('x-small');

      @include state('last-child') {
        margin-bottom: spacing('x-small');
        margin-right: 0;
      }
    }
  }

  &--small {
    margin-bottom: -(spacing('small'));

    > .list__item {
      margin-right: spacing('small');
      margin-bottom: spacing('small');

      @include state('last-child') {
        margin-bottom: spacing('small');
        margin-right: 0;
      }
    }
  }

  &--large {
    margin-bottom: -(spacing('large'));

    > .list__item {
      margin-right: spacing('large');
      margin-bottom: spacing('large');

      @include state('last-child') {
        margin-bottom: spacing('large');
        margin-right: 0;
      }
    }
  }
}


  .list__item {
    margin-bottom: spacing();

    @include state('last-child') {
      margin-bottom: 0;
    }
  }
