@include extendable('wrapper') {
  max-width: wrapper();

  margin: {
    right: auto;
    left: auto;
  }

  // Modifiers
  @each $width-name, $width-size in $wrapper-widths {

    &--#{$width-name} {
      max-width: $width-size;
    }
  }

  &--left {
    margin-left: 0;
  }

  &--right {
    margin-right: 0;
  }
}