@use 'sass:color';

@include extendable('button') {
  display: inline-block;
  padding: 0 spacing();
  height: spacing('x-large');

  background-color: color('blue');

  text-align: center;
  line-height: spacing('x-large');
  text-transform: uppercase;
  font-size: font-size();
  color: color('white');

  transition: background-color 0.2s transition();

  @include state(('hover', 'focus')) {
    background-color: color.scale(
      color('blue'),
      $lightness: $hover-lightness-percentage
    );
  }

  @include breakpoint(small, up) {
    font-size: font-size('large');
  }

  // Modifiers
  &--round {
    padding: 0;
    width: spacing('x-large');

    border-radius: 50%;
  }

  &--light-blue {
    background-color: color('light-blue');

    @include state(('hover', 'focus')) {
      background-color: color.scale(
        color('light-blue'),
        $lightness: $hover-lightness-percentage
      );
    }
  }

  &--white {
    background-color: color('white');

    @include state(('hover', 'focus')) {
      background-color: color.scale(
        color('white'),
        $lightness: $hover-lightness-percentage
      );
    }
  }

  &--outline {
    border: 1px solid color('white');
    background-color: transparent;

    @include state(('hover', 'focus')) {
      background-color: color('white');

      color: color('light-blue');
    }
  }
}