@include extendable('drawer') {
  position: fixed;
  top: 0;
  left: -(spacing('giant'));
  z-index: z-index('3x-large');

  width: 100%;
  max-width: spacing('giant');
  height: 100%;

  background-color: color('white');

  transition:
    left 0.2s transition();

  @include state(('is-active')) {
    left: 0;
  }
}