.expander {
  padding: spacing('x-small') 0;
}

  .expander__link {
    @extend %link;
    @extend %link--blue-dark;

    display: flex;
    // justify-content: space-between;
    align-items: center;

    width: 100%;
  }

  .expander__icon {
    transform: rotate(0);
    transform-origin: center;

    margin-left: spacing();
    
    transition: 
      transform 0.2s transition();

    @include state(('is-active'), '.expander') {
      transform: rotate(180deg);
    }
  }

  .expander__content {
    transform: scale(0);
    transform-origin: top center;

    
    height: 0;

    opacity: 0;

    transition: 
      transform 0.2s transition(),
      height 0.2s transition(),
      opacity 0.2s transition();

    @include state(('is-active'), '.expander') {
      transform: scale(1);

      padding: spacing('2x-small') 0;
      height: auto;

      opacity: 1;
    }
  }