// Input
// ------------------------------
@include extendable('input') {
  padding: 0 spacing('x-small');
  height: spacing('large');

  border: 1px solid color('grey-light');

  text-transform: uppercase;
  line-height: spacing('large');
  font-weight: 600;

  &::placeholder {
    color: color('blue-dark');
  }

  // Modifiers
  &--transparent {
    background-color: transparent;
  }
}

// Input w/ Icon
.input-icon {
  position: relative;
}

  .input-icon__input {}

  .input-icon__icon {
    position: absolute;
    top: 50%;
    right: spacing('x-small');

    transform: translateY(-50%);

    color: color('blue-dark');
  }

// Input Material
// ------------------------------
@include extendable('input-material') {
  padding-bottom: spacing('x-small');
  width: 100%;

  border: none;
  border-bottom: 2px solid color('white');
  background: transparent;

  font-size: font-size('small');
  color: color('white');

  &::placeholder {
    color: color('white');
  }

  @include state(('focus')) {
    outline: none;

    &::placeholder {
      color: rgba(color('white'), 0.4);
    }
  }

  // Modifiers
  &--textarea {
    height: spacing('x-large');
  }
}