@include extendable('overlay') {
  position: fixed;
  top: 0;
  left: 0;
  z-index: z-index('negative');

  width: 100%;
  height: 100%;
  
  background-color: rgba(color('black'), 0.8);

  opacity: 0;

  transition: opacity 0.2s transition();

  @include state(('is-active')) {
    z-index: z-index('2x-large');
    opacity: 1;
  }
}