.scrollspy {
  position: fixed;
  top: 50%;
  right: spacing('2x-small');
  z-index: z-index('x-large');
  
  transform: translateY(-50%);

  width: spacing('x-small');

  @include breakpoint(medium, up) {
    right: spacing('large');
  }
}

  .scrollspy__item {
    display: block;
    margin-bottom: spacing();
    width: spacing('2x-small');
    height: spacing('2x-small');

    border-radius: 50%;
    background-color: color('grey-light');
    box-shadow: 0 2px 4px color('grey-dark');

    transition: background-color 0.2s transition();

    @include state(('last-child')) {
      margin-bottom: 0;
    }

    @include state(('hover', 'focus', 'is-active')) {
      background-color: color('light-blue');
    }
  }