// Section
// ------------------------------
@include extendable('section') {
  position: relative;
  z-index: z-index('large');

  padding: spacing('x-large') spacing();

  @include breakpoint(medium, up) {
    padding: spacing('x-huge') spacing() spacing('3x-large');
  }
}