@use 'sass:color';

// @import '~node_modules/slick-carousel/slick/slick-theme.scss';

.slider {
  position: relative;
  z-index: z-index('large');

  padding: 0;

  @include breakpoint(large, up) {
    padding: 0 spacing('x-large');
  }
}

  .slider__slide {
    padding: 0 spacing();

    @include breakpoint(small, up) {
      padding: 0 spacing('2x-large');
    }
  }

  .slider__image {
    margin: 0 auto;
  }

  .slider__prev,
  .slider__next {
    position: absolute;
    top: 50%;
    z-index: z-index('large');

    transform: translateY(-50%);

    padding: 0;
    width: spacing('large');
    height: spacing('large');

    border-radius: 50%;
    border: 1px solid color('light-blue');
    background-color: transparent;

    line-height: spacing('large');
    text-align: center;
    color: color('light-blue');

    transition:
      border-color 0.2s transition(),
      color 0.2s transition();

    @include state(('hover', 'focus')) {
      border-color: color.scale(
        color('light-blue'),
        $lightness: $hover-lightness-percentage
      );
      
      color: color.scale(
        color('light-blue'),
        $lightness: $hover-lightness-percentage
      );
    }

    @include breakpoint(small, up) {
      width: spacing('x-large');
      height: spacing('x-large');

      line-height: spacing('x-large');
    }
  }

  .slider__prev {
    left: -(spacing('2x-small'));

    @include breakpoint(small, up) {
      left: spacing('x-large');
    }
  }

  .slider__next {
    right: -(spacing('2x-small'));

    @include breakpoint(small, up) {
      right: spacing('x-large');
    }
  }

// 
.slick-slide {
  margin: 0 auto;
}