// Single tile
.tile-link {
  display: inline-block;

  width: 100%;
  height: 100%;
}

.tile {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
  z-index: z-index('large');

  padding: spacing('x-large') spacing();

  // @NOTE: Ugly fix.
  height: 250px;

  background-color: color('white');
  border: 1px solid color('blue-dark');

  text-align: center;
}

  .tile__background {
    @include absolute-child();
    z-index: z-index('negative');

    opacity: 0;

    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    transition: opacity 0.2s transition();

    @include state(('hover', 'focus', 'is-active'), '.tile-link') {
      opacity: 1;
    }
  }

  .tile__inner {
    transform: translateY(0);
    
    transition: transform 0.2s transition();

    @include state(('hover', 'focus', 'is-active'), '.tile-link') {
      transform: translateY(-(spacing()));
    }
  }

  .tile__title {
    display: inline-block;
    position: relative;

    margin: 0;
    // @NOTE: Ugly fix 
    min-height: spacing('x-large');

    font-size: font-size('large');
    font-weight: normal;
    text-transform: uppercase;
    color: color('blue-light');

    @include state(('hover', 'focus', 'is-active'), '.tile-link') {
      color: color('white');
    }
  }

  .tile__underline {
    content: '';
    position: absolute;
    bottom: spacing('x-large');
    left: 50%;

    transform: translateX(-50%);

    // @NOTE: Fixed width :D
    width: spacing('3x-large');

    opacity: 0;

    border-bottom: 2px solid color('light-blue');

    transition: opacity 0.2s transition();

    @include state(('hover', 'focus', 'is-active'), '.tile-link') {
      opacity: 1;
    }
  }