@use 'sass:color';

@include extendable('title') {
  // font-weight: bold;
}

// Fancy heading
// ------------------------------
@include extendable('fancy-heading') {
  display: inline-block;
  position: relative;
  
  margin-left: spacing('x-small');

  text-transform: uppercase;
  color: color('white');

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;

    width: spacing('3x-small');
    height: 100%;

    transform: skewX(335deg);

    background-color: color('light-blue');
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }

  &__content {
    margin: 0;
    padding: 0 spacing('large');

    line-height: spacing('x-large');
    font-size: font-size('x-large');

    @include breakpoint(medium, up) {
      line-height: spacing('2x-large');
      font-size: font-size('3x-large');
    }
  }
}

// Links
// ------------------------------
@include extendable('link') {
  display: inline-block;

  font-size: font-size('small');

  transition: color 0.2s transition();

  // Modifiers
  &--cta {
    text-transform: uppercase;
    font-weight: bold;
  }

  // Colors
  $color-strs: ('white', 'light-blue', 'blue', 'blue-dark', 'pink', 'green');
  @each $color-str in $color-strs {
    &--#{$color-str} {
      $color-value: color($color-str);
      color: $color-value;
  
      @include state(('hover', 'focus')) {
        color: color.scale($color-value, $lightness: $hover-lightness-percentage);
      }
    }
  }
}

.link-icon {
  @extend %link;

  display: flex;
  align-items: center;
}

  .link-icon__icon {
    display: inline-block;

    // Modifiers
    &--prefix {
      margin-right: spacing('small');
    }
  }