// Section
.cases-section {
  background-image: url('../images/cases-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include breakpoint(small, up) {
    padding-bottom: 0;
  }
}

// Slider
// .case-slider {}

  .case-slider__slide {
    flex: 1 1 100%;
  }

.case-slider-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0 spacing();

  @include breakpoint(large, up) {
    flex-direction: row;
    align-items: flex-end;

    padding: 0;
  }
}

  .case-slider-slide__col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 100%;

    @include breakpoint(large, up) {
      flex: 1 1 50%;
    }
  }

  .case-slider-slide__title {
    font-size: font-size('2x-large');

    @include breakpoint(large, up) {
      font-size: font-size('4x-large');
    }
  }

  .case-slider-slide__subtitle {
    font-size: font-size();
    font-weight: bold;
    color: color('grey-x-dark');
  }

  .case-slider-slide__text {
    padding: spacing('large') 0;

    @include breakpoint(large, up) {
      padding: spacing('3x-large') 0;
    }
  }