// Section
.contact-section {
  position: relative;
  z-index: z-index('large');

  background: color('grey-dark');
}

  .contact-section__inner {
    position: relative;
    z-index: z-index('x-large');

    padding: spacing('x-large') spacing();

    @include breakpoint(1024px, up) {
      padding: spacing('x-huge') spacing() spacing('3x-large');
    }
  }

// Form
.contact-panel {
  max-width: 100%;
  margin-left: auto;

  @include breakpoint(1024px, up) {
    max-width: 780px;
  }
}

  .contact-panel__column {
    padding: spacing('x-large') spacing();

    @include breakpoint(small, up) {
      padding: spacing('2x-large') spacing('x-large');
    }
  }