.google-map {
  position: relative !important;
  z-index: z-index('large');

  width: 100%;
  min-height: 320px;
  height: 100%;

  background-color: white;

  @include breakpoint(1024px, up) {
    @include absolute-child();
    position: absolute !important;

    min-height: 100%;
  }
}