.header {
  position: absolute;
  z-index: z-index('x-large');

  padding: spacing();
  width: 100%;

  @include breakpoint(1300px, up) {
    padding: 0;
  }
}

  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint(1300px, up) {
      align-items: flex-end;
    }
  }

  // .header__logo {
    
  // }

  .header__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex: 1 1 auto;

    margin-left: spacing();
  }

// Logo
.header-logo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  
  padding: spacing('x-small');
  
  background-color: color('white');

  @include breakpoint(small, up) {
    padding: 38px spacing() 0;
  }
}

  .header-logo__image {
    margin: 0;

    @include breakpoint(small, up) {
      margin: spacing('2x-small') 0;
    }
  }

// Primary header
.primary-header {
  display: none;

  @include breakpoint(1300px, up) {
    display: flex;
  }
}

  .primary-header__nav {
    margin-right: spacing('x-large');
  }

// Secondary header
.secondary-header {
  display: none;
  margin-top: spacing();

  @include breakpoint(1300px, up) {
    display: block;
  }
}

// Secondary Nav
.secondary-nav {
  display: flex;
  align-content: space-between;
  align-items: center;
}

  .secondary-nav__link {
    position: relative;

    margin: 0 spacing();
    padding: 0 spacing('2x-large') spacing('x-small');

    border-bottom: 2px solid color('light-blue');

    text-transform: uppercase;
    font-size: font-size();
    font-weight: bold;
    color: color('blue-dark');

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0 - 2px;

      transform: translateX(-50%);

      width: 0;
      height: 2px;

      background-color: color('blue-dark');

      transition: width 0.2s transition();
    }

    @include state(('hover', 'focus')) {

      &::after {
        width: 100%;
      }
    }

    @include state(('first-child')) {
      margin-left: 0;
    }

    @include state(('last-child')) {
      margin-right: 0;
    }
  }

// Primary nav
.primary-nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.primary-nav-item {
  position: relative;
  z-index: z-index('large');

  margin-left: spacing('large');

  @include state(('first-child')) {
    margin-left: 0;
  }
}

.primary-nav-link {
  @extend %link;
  @extend %link--blue-dark;

  display: flex;

  text-transform: uppercase;
  font-weight: 600;
}

  .primary-nav-link__icon {
    align-self: center;
    
    transform: rotate(0);

    margin-right: spacing('2x-small');

    color: color('light-blue');

    transition: transform 0.2s transition();

    @include state(('hover', 'focus'), '.primary-nav-link') {
      transform: rotate(90deg);
    }
  }

.primary-nav-submenu {
  position: absolute;
  top: spacing('large');
  left: 0;

  transform: scale(0);
  transform-origin: top center;

  padding: spacing('x-small');
  height: 0;
  min-width: 160px;

  border-radius: spacing('3x-small');
  box-shadow: 0 1px 4px color('grey-dark');
  background-color: color('white');

  opacity: 0;

  transition:
    transform 0.2s transition();

  @include state(('hover', 'focus', 'is-active'), '.primary-nav-item') {
    transform: scale(1);

    height: auto;
    
    opacity: 1;
  }
}