.hero {
  position: relative;
  z-index: z-index('large');

  padding: spacing('x-large');

  background-color: color('blue-dark');
  // background-image: url('../images/hero-background.png');
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;

  text-align: center;

  @include breakpoint(medium, up) {
    height: 900px;
  }
}

  .hero__inner {
    position: relative;
    z-index: z-index();

    padding-top: 240px - (spacing('x-large'));

    @include breakpoint(medium, up) {
      padding-top: 285px - (spacing('x-large'));
    }
  }

  .hero__overlay {
    @include absolute-child();
    z-index: z-index();

    background-color: rgba(color('white'), 0.7);
  }

  .hero__title {
    position: relative;

    margin-bottom: spacing('2x-large');

    font-weight: normal;
    color: color('blue-dark');

    &::after {
      content: '';
      position: absolute;
      bottom: -(spacing());
      left: 50%;

      transform: translateX(-50%);

      // @NOTE: Fixed width :D
      width: spacing('x-huge');

      border-bottom: 2px solid color('blue-dark');

      transition: opacity 0.2s transition();
    }

    @include breakpoint(medium, up) {
      font-size: font-size('3x-large');
    }

    @include breakpoint(1300px, up) {
      font-size: font-size('4x-large');
    }
  }

  // .hero__text {}

  .hero__cta {
    margin-bottom: spacing('x-large');

    @include breakpoint(medium, up) {
      margin: {
        top: spacing();
        bottom: spacing('3x-large');
      };
    }
  }

  .hero__color-line {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: z-index('large');

    background-color: transparent;
    background-image: url('../images/hero-color-line.png');
    background-repeat: no-repeat;
    background-position: center;

    @include breakpoint(medium, up) {
      display: block;
      
      width: 474px;
      height: 875px;
    }
  }

  .hero__video-container {
    @include absolute-child();
    z-index: z-index('negative');

    overflow: hidden;
  }

  .hero__video {
    width: auto;
    height: 100%;
  }

// CTA button
.hero-cta-button {
  @extend %button;
  @extend %button--round;
  @extend %button--light-blue;

  // display: flex;
  // justify-content: center;
  // align-items: center;

  box-shadow: 0 2px 0 color('grey-x-dark');
}

  .hero-cta-button__icon {
    // 
  }

// Scroll to
// .hero-scroll-to {}
  .hero-scroll-to__image {
    animation: float 2s transition() 0s infinite;
  }