// Header
.investors-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @include breakpoint(1024px, up) {
    flex-direction: row;
  }
}

  .investors-header__hgroup {
    margin-bottom: spacing();

    @include breakpoint(1024px, up) {
      margin-bottom: 0;
    }
  }

// Graph
.main-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: z-index('negative');

  transform: translate(-50%, -50%);

  margin: 0 auto;
  width: 430px;
  height: 430px;

  border: 1px solid #000;
  border-radius: 50%;
  background-color: #fff;
}

.investors-graph {
  display: none;
  position: relative;

  transform: scale(0.4);

  margin: spacing() auto;
  width: 420px;
  height: 420px;

  text-transform: uppercase;

  @include breakpoint(medium, up) {
    display: block;

    transform: scale(1);

    margin: 240px auto;
  }
}

.investors-graph-item {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) rotate(45deg);
  transform-origin: center;

  margin: 0 auto;
  max-width: 600px;

  // Modifiers
  $types: (
    (mod: 1, zIndex: 5, color: 'blue', rotate: -45deg),
    (mod: 2, zIndex: 4, color: 'light-blue', rotate: 0),
    (mod: 3, zIndex: 3, color: 'dark-green', rotate: 45deg),
    (mod: 4, zIndex: 2, color: 'green', rotate: 135deg),
    (mod: 5, zIndex: 1, color: 'orange', rotate: 180deg),
  );

  @each $type in $types {
    $mod: map-get($type, 'mod');
    $zIndex: map-get($type, 'zIndex');
    $color: color(map-get($type, 'color'));
    $rotate: map-get($type, 'rotate');
    $circle_size: 200px + (48px * $mod);

    &--#{$mod} {
      z-index: $zIndex;

      transform: translate(-50%, -50%) rotate($rotate);

      .investors-graph-item__inner-circle {
        width: $circle_size;
        height: $circle_size;

        &::after {
          border-color: $color;
        }
      }

      .investors-graph-item__inner-circle-content {
        transform: rotate($rotate * -1);
      }
  
      .investors-graph-item__circles-connector {
        left: calc(50% + 202px);

        width: calc(100% - (48px * $mod));
        
        background-color: $color;
      }
  
      .investors-graph-item__outer-circle {
        
        &::after {
          border-color: $color;
        }
      }

      .investors-graph-item__outer-circle-content {
        transform: rotate($rotate * -1);
      }
    }
  }
}

  .investors-graph-item__inner-circle {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;

    width: 200px;
    height: 200px;

    border-radius: 50%;
    border: 1px solid #000;
    background-color: transparent;

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: z-index();

      transform: translate(-50%, -50%);

      width: calc(100% - 1px);
      height: calc(100% - 1px);

      border-radius: 50%;
      border: 20px solid;
      background-color: #fff;
    }
  }

  .investors-graph-item__inner-circle-content {
    position: relative;
    z-index: z-index('large');

    transform: rotate(-45deg);
    transform-origin: center;
  }

  .investors-graph-item__circles-connector {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: calc(50% + 200px);
    z-index: z-index('large');

    transform: translate(-50%, -50%);

    width: 200px;
    height: 20px;

    border: 1px solid #000;
    border-right: none;
    border-left: none;
  }

  .investors-graph-item__outer-circle {
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 50%;
    left: calc(50% + 400px);

    transform: translate(-50%, -50%);

    width: 200px;
    height: 200px;

    border-radius: 50%;
    border: 1px solid #000;
    background-color: transparent;

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: z-index();

      transform: translate(-50%, -50%);

      width: calc(100% - 1px);
      height: calc(100% - 1px);

      border-radius: 50%;
      border: 20px solid;
      background-color: #fff;
    }
  }

  .investors-graph-item__outer-circle-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: z-index('large');

    transform: rotate(-45deg);
    transform-origin: center;

    text-align: center;
  }

// Expanders
.investors-expanders {
  display: block;

  margin-top: spacing('x-large');

  @include breakpoint(medium, up) {
    display: none;
  }
}