.phablet-nav-opener {
  @extend %link;
  @extend %link--light-blue;

  display: block;

  @include breakpoint(1300px, up) {
    display: none;
  }
}

.phablet-nav {
  
}

.phablet-nav__header {
  padding: spacing('x-small') spacing();

  border-bottom: 1px solid color('grey-x-light');

  text-align: right;
}

.phablet-nav__body {
  padding: spacing();
}

.phablet-nav-link {
  @extend %link;
  @extend %link--blue-dark;

  display: flex;

  text-transform: uppercase;
  font-size: font-size('large');
  font-weight: 600;
}

  .phablet-nav-link__icon {
    align-self: center;
    
    transform: rotate(0);

    margin-right: spacing('2x-small');

    color: color('light-blue');

    transition: transform 0.2s transition();

    @include state(('hover', 'focus'), '.primary-nav-link') {
      transform: rotate(90deg);
    }
  }