// Posts section
.posts-section {
  position: relative;
  z-index: z-index('large');
  
  padding-top: spacing('x-large');

  background-color: color('grey-dark');
  background-image: url('../images/pattern-loading-grey.jpg');
  background-repeat: repeat;

  @include breakpoint(medium, up) {
    padding-top: spacing('x-huge');
  }
}

// Posts
.posts {
  position: relative;
}

  .posts__cta {
    padding: spacing();

    text-align: center;

    @include breakpoint(medium, up) {
      position: absolute;
      bottom: spacing('x-large');
      left: 50%;
      z-index: z-index('large');
  
      transform: translate(-50%, 0);

      padding: 0;
    }
  }

// Post item
.post-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: z-index('large');

  padding: spacing('x-large');
  height: 100%;

  @include breakpoint(medium, up) {
    padding: spacing('x-huge') spacing('2x-large');
  }
}

  .post-item__badge {
    align-self: flex-start;
    display: inline-block;

    padding: 0 spacing();

    line-height: spacing('large');
    text-transform: uppercase;
    font-size: font-size('x-small');
    color: color('white');

    background-color: color('orange');

    // Modifiers
    &--pink {
      background-color: color('pink');
    }
  }

  .post-item__footer {
    justify-self: flex-end;
  }

  .post-item__link {
    @extend %link;
    @extend %link--cta;
    @extend %link--green;

    margin-top: spacing();

    text-transform: uppercase;
  }