// Scroll to menu
.scroll-to-menu {
  @extend %button;
  @extend %button--round;
  @extend %button--white;

  position: fixed;
  top: spacing('x-large');
  right: spacing('2x-small');
  z-index: z-index('x-large');

  padding: spacing('2x-small');
  width: 40px;
  height: 40px;

  box-shadow: 0 2px 4px color('grey-dark');

  opacity: 0;

  transition:
    opacity 0.2s transition();

  @include state(('is-active')) {
    opacity: 1;
  }

  @include breakpoint(medium, up) {
    padding: spacing('x-small');
    width: spacing('x-large');
    height: spacing('x-large');
  }
}

  .scroll-to-menu__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;

    height: 100%;
  }

  .scroll-to-menu__line {
    display: inline-block;

    height: 3px;

    background-color: color('blue');

    @include state(('first-child')) {
      top: spacing('x-small');

      width: calc(100% - spacing('2x-small'));
    }

    @include state(('nth-child(2)')) {
      align-self: center;

      width: 100%;
    }

    @include state(('last-child')) {
      width: calc(100% - spacing('2x-small'));
    }
  }

// Scroll to bottom
.scroll-to-bottom {
  @extend %button;
  @extend %button--round;
  @extend %button--outline;

  position: fixed;
  right: spacing('2x-small');
  bottom: spacing('x-large');
  z-index: z-index('large');

  width: spacing('large');
  height: spacing('large');

  box-shadow: 0 2px 4px color('grey-dark');

  line-height: spacing('large');

  opacity: 0;

  transition:
    opacity 0.2s transition();

  @include state(('is-active')) {
    opacity: 1;
  }

  @include breakpoint(medium, up) {
    right: spacing();
  }
}

// Scroll to top
.scroll-to-top {
  @extend %button;
  @extend %button--round;
  @extend %button--outline;

  position: fixed;
  right: spacing('2x-small');
  bottom: spacing('x-large');
  z-index: z-index('large');

  width: spacing('large');
  height: spacing('large');

  box-shadow: 0 2px 4px color('grey-dark');

  line-height: spacing('large');

  opacity: 0;

  transition:
    opacity 0.2s transition();

  @include state(('is-active')) {
    opacity: 1;
  }

  @include breakpoint(medium, up) {
    right: spacing();
  }
}