// Floating social
.floating-social {
  display: none;
  position: fixed;
  left: spacing('x-small');
  bottom: spacing('x-large');
  z-index: z-index('large');

  // Modifiers
  &--dark {
    
    .floating-social__link {
      @extend %link;
      @extend %link--blue-dark;
    }
  }

  @include breakpoint(small, up) {
    display: block;

    left: spacing('2x-small');
  }
}

  .floating-social__link {
    @extend %link;
    @extend %link--white;
  }

  .floating-social__icon {
    font-size: font-size('large');
  }